<!-- <?xml version="1.0" encoding="UTF-8"?>
<suite name="Simple Logger Suite">
  <listeners>
    <listener class-name="CustomReportsTestNG.CustomListener" />
  </listeners>

  <test name="Simple Logger test">
    <classes>
      <class name="CustomReportsTestNG.CustomReportsSample" />
    </classes>
  </test>
</suite> -->